@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: #d2e0fb;
  box-sizing: border-box;
}
h1 {
  color: white;
  text-align: center;
  font-size: xx-large;
}

h2 {
  text-align: center;
  font-size: large;
}

body {
  font-family: "Lato", sans-serif;
  transition: 0.2s;
  display: flex;
  justify-content: center;
}

.link {
  color: #c96868;
  margin: 10px;
  font-size: large;
  display: inline-block;
}

nav {
  display: flex;
  justify-content: right;
}
