.table-container {
  margin-top: 2vh;
}
.scoreboard {
  width: 100%;
  height: 50vh;
  border: 1px solid red;
}

.title {
  border: 1px solid black;
  background-color: #c96868;
}
.table-body {
  border: 1px solid #2e2e2e;
  background-color: #7eacb5;
}
.leaderboard-header {
  color: rgb(30, 29, 29);
  text-align: center;
  font-size: xx-large;
}
